<html lang="en-US">
    <head>
        <title>Server Error</title>
        <style type="text/css">
            @import url('https://fonts.googleapis.com/css?family=Dosis');

            h1 {
                font-family: 'Dosis', sans-serif;
                font-weight: bold;
            }

            p {
                font-size: 1.5em;
                line-height: 1.5em;
                font-family: 'Dosis', sans-serif;
            }

            a {
                text-decoration: none;
            }
        </style>
    </head>
    <body>
        <h1>Server Error</h1>
        <p>Oops! We had trouble processing that request!</p>
        <p>Try going back to the <a href="/">homepage</a> and trying your request again.</p>
    </body>
</html>
