<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Content-Language" value="en-US">
		<meta name="description" content="Site that generates playlists to influence your mood">
		<meta name="author" content="DiBari">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}MoodyTunes{% endblock %}</title>
		<link rel="icon" href="{{ STATIC_URL }}base/images/favicon.ico" type="image/png">
		{# TODO: When base.css is defined, include here #}
		{% block superhead %}
		{% end block %}
	</head>
	<body>
		<div id="header">
			{# TODO: This should be constant across all pages. Figure out what should go here #}
			{# Things like links to user homepage, account page, about page, logout buttons, etc. #}
		</div>
		<div id="content">
			{% block content %}
			{% endblock }
		</div>
		<div id="footer">
			{% block footer %}
			{% endblock %}
		</div>
	</body>
</html>
