{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<meta http-equiv="Content-Language" content="en-US">
		<meta name="description" content="Site that allows users to curate playlists to influence their mood">
		<meta name="author" content="DiBari">
        <meta name="application-name" content="MoodyTunes">
        <meta name="keywords" content="Music, Emotion, Playlist, Browse, Find, Spotify">

		<title>{% block title %}MoodyTunes{% endblock %}</title>
		<link rel="shorcut icon" href="{% static 'favicon.ico' %}" type="image/ico">

        {% compress css %}
            <link rel="stylesheet" type="text/css" href="{% static 'base/css/bootstrap.min.css' %}">
            <link rel="stylesheet" type="text/less" href="{% static 'base/less/base.less' %}">
        {% endcompress %}

		{% block superhead %}
            {% comment %}
                Include any other head tags (scripts, stylesheets, etc.) in here
            {% endcomment %}
		{% endblock %}
	</head>
	<body>
		<div id="header">
            <div class="navbar">
                <a class="navbar-child" href="{% url 'homepage' %}">Home</a>
                <a class="navbar-child" href="{% url 'moodytunes:about' %}">About</a>
                {% if user.is_authenticated %}
                    <a class="navbar-child navbar-user" href="{% url 'accounts:logout' %}">Logout</a>
                    <a class="navbar-child navbar-user" href="{% url 'moodytunes:playlists' %}">Playlists</a>
                    <a class="navbar-child navbar-user" href="{% url 'moodytunes:browse' %}">Browse</a>
                    <a class="navbar-child navbar-user" href="{% url 'moodytunes:suggest' %}">Suggest Song</a>
                    <a class="navbar-child navbar-user" href="{% url 'moodytunes:export' %}">Export Playlist</a>
                {% endif %}
            </div>
			{% if messages %}
			<ul class="messages">
				{% for message in messages %}
				<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
				{% endfor %}
			</ul>
			{% endif %}
		</div>
        <div id="container" class="container">
            {% block content %}
            {% endblock %}

            {% block footer %}
            {% endblock %}
        </div>
	</body>
</html>
