{% extends 'base.html' %}

{% block content  %}
<h1>MoodyTunes</h1>
<div id="about-site">
    <h3>Overview</h3>
    <p>Welcome to MoodyTunes! This site is aimed to answer a simply worded, but curious question: How does music affect
    people's emotions? Through analysis of song metadata and understanding user usage of the site, we can collect data
    to make an informed guess to an answer to that question, and also help you (the user) better understand your perception
    of the songs you listen to.</p>
    <p>Through interacting with the site, you can build playlists of songs that you believe make you feel certain emotions.
    You start by browsing for songs for a given emotion, like "Happy" or "Melancholy". You can optionally provide a context
    to grant greater insight to the circumstances involved in your music listening session. This can help you understand
    the difference in emotion given a certain environment (maybe you find certain songs exciting a party, but calm when
    you're by yourself.) We automatically add songs you upvote to your playlist for that emotion, so you can quickly view
    your collection of songs that you believe make you feel a specific emotion.</p>
</div>
{% endblock %}
