{% extends 'base.html' %}

{% load compress %}
{% load static %}
{% load waffle_tags %}

{% block title %}Browse Songs{% endblock %}

{% block superhead %}
    {% compress css %}
        <link rel="stylesheet" type="text/less" href="{% static 'moodytunes/less/playlist.less' %}">
        <link rel="stylesheet" type="text/less" href="{% static 'moodytunes/less/browse.less' %}">
    {% endcompress %}

    {% compress js %}
        <script src="{% static 'moodytunes/js/client.js' %}" defer></script>
        <script src="{% static 'moodytunes/js/curator.js' %}" defer></script>
        <script src="{% static 'moodytunes/js/browse.js' %}" defer></script>
    {% endcompress %}
{% endblock %}

{% block content %}
<div id="config" data-csrf-token="{{ csrf_token }}"></div>
<h1>Browse Songs</h1>
<div id="playlist-generator-container">
    {% include 'full_songs_info.html' %}
    <button id="use-cached-playlist" {% if not cached_playlist_exists %} disabled {% endif %}>Last Playlist</button>
    <p>Emotion: {{ form.emotion }}</p>
    <p>Genre: {{ form.genre }}</p>
    {% flag 'filter_browse_playlist_by_artist' %}
        <p>Artist: {{ form.artist }}</p>
    {% endflag %}
    <div class="help-tip">
        <p>Jitter is the amount of randomness we use to generate your browse playlist. The higher the value, the more
            variety there will be in the songs we return. Set this to a higher value to explore more varied songs for your emotion!</p>
    </div>
    <p>Jitter: <span id="jitter-value"></span> {{ form.jitter }} </p>
    <button id="set-context-button">Set Context</button>
    <button id="generate-playlist" class="call-to-action-button">Browse</button>
    <p id="alert-no-results" class="warning" hidden>We were unable to find any songs for you to browse. Please try a different set of criteria</p>
</div>
<div id="context-modal" class="modal" hidden>
    <div class="modal-content">
        <span id="close-modal" class="close">&times;</span>
        <h2>Set Browsing Context</h2>
        <p>Add additional information about how you are currently listening to music</p>
        <p>Context: {{ form.context }}</p>
        <p>Description: {{ form.description }}</p>
        <button id="clear-context" class="warning-button">Clear Context</button>
        <button id="submit-context" class="call-to-action-button">Set Context</button>
    </div>
</div>
<div id="playlist-display-container"></div>
{% endblock %}
