{% extends 'base.html' %}

{% load static %}

{% block superhead %}
    <script src="{% static 'moodytunes/js/browse.js' %}" defer></script>
{% endblock %}

{% block content %}
<h1>Browse Songs</h1>
<div id="playlist-generator-container">
    <ul>
        {{ form.as_ul }}
    </ul>
    <input id="generate-playlist" type="submit" />
    <p id="alert-no-results" class="warning" hidden>We were unable to find any songs for you to browse</p>
</div>
<div id="playlist-display-container"></div>
{% endblock %}
