{% extends 'base.html' %}

{% load compress %}
{% load static %}

{% block title %}Export Playlist{% endblock %}

{% block content %}
    <h1>Export Playlist</h1>
    <p>Want to save your MoodyTunes playlist to your Spotify Account? Specify the emotion of the playlist you want to
    export and  the name of the playlist to be created and it will be added to your Spotify account!</p>
    <form name="export-playlist-form" method="post">
        {% csrf_token %}
        <p>{{ form.emotion.errors }}</p>
        <p>{{ form.emotion }}</p>
        <p>{{ form.genre.errors }}</p>
        <p>{{ form.genre }}</p>
        <p>{{ form.context.errors }}</p>
        <p>{{ form.context }}</p>
        <p>{{ form.playlist_name.errors }}</p>
        <p>{{ form.playlist_name }}</p>
        <button type="submit">Export Playlist</button>
    </form>
{% endblock %}