{% extends 'base.html' %}

{% load compress %}
{% load static %}
{% load waffle_tags %}

{% block title %}View Mood Playlists{% endblock %}

{% block superhead %}
    {% compress css %}
        <link rel="stylesheet" type="text/less" href="{% static 'moodytunes/less/playlist.less' %}">
    {% endcompress %}

    {% compress js %}
        <script src="{% static 'moodytunes/js/client.js' %}" defer></script>
        <script src="{% static 'moodytunes/js/curator.js' %}" defer></script>
        <script src="{% static 'moodytunes/js/playlists.js' %}" defer></script>
    {% endcompress %}
{% endblock %}

{% block content %}
<div id="config" data-csrf-token="{{ csrf_token }}"></div>
<h1>Playlists For Mood</h1>
<div id="analytics-container">
    <div class="help-tip">
    <p>These values represent the different data points we use to analyze what attributes of a song make you feel
    a desired emotion. All of the attributes go into our algorithm to better suggest songs for you when you want
    to listen to songs that make you feel some type of way!</p>
    </div>
    <table id="analytics-table">
        <tr>
            <th>Mood</th>
            <th>Energy</th>
            <th>Valence</th>
            <th>Danceability</th>
            <th>Total Songs</th>
        </tr>
        <tr>
            <td id="analytics-emotion"></td>
            <td id="analytics-energy"></td>
            <td id="analytics-valence"></td>
            <td id="analytics-danceability"></td>
            <td id="analytics-total-songs"></td>
        </tr>
    </table>
</div>
<div id= id="playlist-generator-container">
    {% include 'full_songs_info.html' %}
    <p>Mood: {{ form.emotion }}</p>
    <p>Genre: {{ form.genre }}</p>
    <p>Context: {{ form.context }}</p>
    {% flag 'filter_emotion_playlist_by_artist' %}
        <p>Artist: {{ form.artist }}</p>
    {% endflag %}
    <button id="generate-playlist" class="call-to-action-button">Generate</button>
    <p id="alert-no-results" class="warning" hidden>No songs you have previously voted on fit the criteria specified</p>
</div>
<div id="delete-confirm-modal" class="modal" hidden>
    <div class="modal-content">
        <span id="close-delete-modal" class="close">&times;</span>
        <p>Are you sure you want to delete this song from your mood playlist?</p>
        <button id="cancel-delete-vote">Cancel</button>
        <button id="delete-vote" class="warning-button">Delete</button>
    </div>
</div>
<div id="delete-success-modal" class="modal" hidden>
    <div class="modal-content" id="delete-success-modal-content">
        <span id="close-delete-success-modal" class="close">&times;</span>
        <p id="delete-success-content"></p>
    </div>
</div>
<div id="add-context-confirm-modal" class="modal" hidden>
    <div class="modal-content" id="add-context-modal-context">
        <span id="close-add-context-modal" class="close">&times;</span>
        <p id="add-context-help-text">Please select the context to add for the vote</p>
        <p id="add-context-unavailable-text" hidden>There are no available contexts to add to this song!</p>
        <p><select id="add-context-input" class="select-context-input"></select></p>
        <p id="add-description-container">Description: <input id="add-description-input" type="text" name="description"></p>
        <button id="cancel-add-context-to-vote-button">Cancel</button>
        <button id="add-context-to-vote-button" class="call-to-action-button">Submit</button>
    </div>
</div>
<div id="add-context-success-modal" class="modal" hidden>
    <div class="modal-content" id="add-context-success-modal-content">
        <span id="close-add-context-success-modal" class="close">&times;</span>
        <p id="add-context-success-content"></p>
    </div>
</div>
<div id="playlist-display-container"></div>
<div id="playlist-pagination-button-container"></div>
{% endblock %}
