{% extends 'base.html' %}

{% load compress %}
{% load static %}

{% block superhead %}
    {% compress css %}
        <link rel="stylesheet" type="text/less" href="{% static 'moodytunes/less/playlist.less' %}">
        <link rel="stylesheet" type="text/less" href="{% static 'moodytunes/less/analytics.less' %}">
    {% endcompress %}

    {% comment %}
    {% compress js %}
        <script src="{% static 'moodytunes/js/playlists.js' %}" defer></script>
    {% endcompress %}
    {% endcomment %}
    <script src="{% static 'moodytunes/js/playlists.js' %}" defer></script>

{% endblock %}

{% block content %}
<h1>Playlists For Emotion</h1>
<div id= id="playlist-generator-container">
    <div id="analytics-container">
        <table id="analytics-table">
            <tr>
                <th>Emotion</th>
                <th>Energy</th>
                <th>Valence</th>
                <th>Total Songs</th>
            </tr>
            <tr>
                <td id="analytics-emotion"></td>
                <td id="analytics-energy"></td>
                <td id="analytics-valence"></td>
                <td id="analytics-total-songs"></td>
            </tr>
        </table>
    </div>
    {{ form.as_p }}
    <button id="generate-playlist">Submit</button>
    <p id="alert-no-results" class="warning" hidden>No songs you have previously voted on fit the criteria specified</p>
</div>
<div id="playlist-display-container"></div>
<div id="playlist-pagination-button-container"></div>
{% endblock %}
