{% extends 'base.html' %}

{% load compress %}
{% load static %}

{% block superhead %}
    {% compress css %}
        <link rel="stylesheet" type="text/less" href="{% static 'moodytunes/less/playlist.less' %}">
        <link rel="stylesheet" type="text/less" href="{% static 'moodytunes/less/analytics.less' %}">
    {% endcompress %}

    {% compress js %}
        <script src="{% static 'moodytunes/js/curator.js' %}" defer></script>
        <script src="{% static 'moodytunes/js/playlists.js' %}" defer></script>
    {% endcompress %}
{% endblock %}

{% block content %}
<h1>Playlists For Emotion</h1>
{% include 'full_songs_info.html' %}
<div id= id="playlist-generator-container">
    <div id="analytics-container">
        <div class="help-tip">
        <p>Energy and Valence are the attributes we use to measure a songs effective emotion. Valence is the "mood" of
        the track, a lower value indicates a more negative mood and a higher value indicating a more positive mood.
        Energy is the "intensity" of the track, with a lower value indicating a less intense track and a higher value
        indicating a more intense track.</p>
        </div>
        <table id="analytics-table">
            <tr>
                <th>Emotion</th>
                <th>Energy</th>
                <th>Valence</th>
                <th>Total Songs</th>
            </tr>
            <tr>
                <td id="analytics-emotion"></td>
                <td id="analytics-energy"></td>
                <td id="analytics-valence"></td>
                <td id="analytics-total-songs"></td>
            </tr>
        </table>
    </div>
    {{ form.as_p }}
    <button id="generate-playlist">Generate</button>
    <div id="playlist-error-container"></div>
    <p id="alert-no-results" class="warning" hidden>No songs you have previously voted on fit the criteria specified</p>
</div>
<div id="playlist-display-container"></div>
<div id="playlist-pagination-button-container"></div>
{% endblock %}
