{% extends 'base.html' %}

{% load moody_tags %}

{% block title %}Revoke Spotify Authentication{% endblock %}

{% block content %}
    <h1>Revoke Spotify Authentication</h1>
    <p>Revoke your integration with Spotify from MoodyTunes. This will remove all of your Spotify data from our site, although your
    exported playlists will still be available on your Spotify account. You should also revoke the application in
    <a rel="nofollow noopener noreferrer" target="_blank" href="https://www.spotify.com/us/account/apps/">your Spotify account </a>.</p>
    <form id="revoke-spotify-auth-form" method="post">
        {% csrf_token %}
        <button type="submit" class="warning-button">Revoke</button>
    </form>
{% endblock %}
