[run]
branch = True
source =
    apps/
    libs/
omit =
    venv/
    */migrations/*
    */tests/*
    *__init__*.py
    */admin.py
    */apps.py
    .tox/*
    mtdj/*
    manage.py

[report]
fail_under = 80
exclude_lines =
    pragma: no cover
