{% extends 'base.html' %}

{% load compress %}
{% load static %}

{% block superhead %}
    {% compress js %}
        <script src="{% static 'accounts/js/password_confirmation.js' %}" defer></script>
    {% endcompress %}
{% endblock %}

{% block content %}
<h1>Create User</h1>
<form id="password-form" method="post">
	{% csrf_token %}
	{% if form.errors %}
        <div id="errorlist-container">
            {% for error in form.errors.values %}
                {{ error }}
            {% endfor %}
        </div>
	{% endif %}
    <p>Email address is optional, we won't send you any spam mail! We use it for resetting your password if you forget it</p>
    <p id="password-error" class="error-message" hidden>Please ensure your password and confirm password match!</p>
    <p>Username: {{ form.username }}</p>
    <p>Email: {{ form.email }}</p>
	<p>Password: {{ form.password }}</p>
	<p>Confirm password: {{ form.confirm_password }}</p>
	<button id="submit-button" type="submit">Create</button>
</form>
{% endblock %}
