{% extends 'base.html' %}

{% load compress %}
{% load static %}

{% block title %}Create User{% endblock %}

{% block superhead %}
    {% compress js %}
        <script src="{% static 'accounts/js/password_confirmation.js' %}" defer></script>
        <script src="{% static 'accounts/js/show_password_input.js' %}" defer></script>
    {% endcompress %}
{% endblock %}

{% block content %}
<h1>Create User</h1>
<form id="password-form" method="post">
	{% csrf_token %}
	{% if form.errors %}
        <div id="errorlist-container">
            {% for error in form.errors.values %}
                {{ error }}
            {% endfor %}
        </div>
	{% endif %}
    <p>Email address is optional, we won't send you any spam mail! We use it for resetting your password if you forget it</p>
    <p id="password-error" class="error-message" hidden>Please ensure your password and confirm password match!</p>
    {% for field in form %}
        <p>
            {{ field.label_tag }} {{ field }}
            {% if field.auto_id == "id_password" %}
                <img src="{% static 'accounts/imgs/show_password_icon.png' %}" data-show-password-img="{% static 'accounts/imgs/show_password_icon.png' %}" data-hide-password-img="{% static 'accounts/imgs/hide_password_icon.png' %}" id="show-password"/>
            {% endif %}
        </p>
    {% endfor %}
	<button id="submit-button" type="submit">Create</button>
</form>
{% endblock %}
