{% extends 'base.html' %}

{% load compress %}
{% load static %}
{% load moody_tags %}

{% block title %}Reset Password{% endblock %}

{% block superhead %}
    {% compress css %}
        <link rel="stylesheet" type="text/less" href="{% static 'accounts/less/password_reset.less' %}">
    {% endcompress %}
{% endblock %}

{% block content %}
<h1>Reset Password</h1>
<p>Enter the email associated with your account to receive an email link for resetting your account password</p>
<p>If you did not provide an email for your account, please email {% settings 'WEBMASTER_EMAIL' %} to get access to your account</p>
<form id="password-reset-form" method="post">
    {% csrf_token %}
    {{ form.as_p }}
	<button id="submit-button" type="submit">Email Link</button>
</form>
{% endblock %}
