{% extends 'base.html' %}

{% load compress %}
{% load tz %}
{% load static %}

{% block superhead %}
    {% compress css %}
        <link rel="stylesheet" type="text/less" href="{% static 'accounts/less/profile.less' %}">
    {% endcompress %}
    {% compress js %}
        <script src="{% static 'moodytunes/js/client.js' %}" defer></script>
        <script src="{% static 'moodytunes/js/curator.js' %}" defer></script>
        <script src="{% static 'accounts/js/spotify_auth_prompt.js' %}" defer></script>
    {% endcompress %}
{% endblock %}

{% block content %}
<div id="config" data-csrf-token="{{ csrf_token }}"></div>
<h1>Profile</h1>
{% localtime on %}
<p>Hello {{ user.username }}! You last logged in {{ user.last_login|date:"M d, Y" }} at {{ user.last_login|date:"f A e" }}</p>
{% endlocaltime %}
<h3>Account Options</h3>
<ul>
    <li><a class="profile-link" href="{% url 'accounts:update' %}">Update Information</a></li>
    <li><a class="profile-link" href="{% url 'accounts:change-password' %}">Change Password</a></li>
    <li><a class="profile-link" href="{% url 'moodytunes:spotify-auth' %}">Authenticate With Spotify</a></li>
    <li><a class="profile-link" href="{% url 'moodytunes:spotify-auth-revoke'%}">Revoke Spotify Authentication</a></li>
</ul>
<h3>MoodyTunes</h3>
<ul>
    <li><a class="profile-link" href="{% url 'moodytunes:browse' %}">Browse New Songs</a></li>
    <li><a class="profile-link" href="{% url 'moodytunes:playlists' %}">View Emotion Playlists</a></li>
    <li><a class="profile-link" href="{% url 'moodytunes:suggest' %}">Suggest A New Song</a></li>
    <li><a class="profile-link" href="{% url 'moodytunes:export' %}">Export Emotion Playlist To Spotify</a></li>
</ul>
<div id="spotify-auth-modal" class="modal" hidden>
    <div class="modal-content">
        <span id="close-spotify-auth-modal" class="close">&times;</span>
        <h2>Login With Spotify</h2>
        <p>Would you like to login with Spotify? It will allow us to suggest songs for you based on you Spotify listening habits</p>
        <button id="accept-spotify-auth" class="call-to-action-button">Yes</button>
        <button id="decline-spotify-auth">No</button>
    </div>
</div>
{% endblock %}
