{% extends 'base.html' %}

{% load compress %}
{% load static %}

{% block title %}Update Account{% endblock %}

{% block content %}
<h1>Update Account Information</h1>
<form id="password-form" method="post">
	{% csrf_token %}
	{% if form.errors %}
        <div id="errorlist-container">
            {% for error in form.errors.values %}
                {{ error }}
            {% endfor %}
        </div>
	{% endif %}
	<p>Username: {{ form.username }}</p>
	<p>Email: {{ form.email }}</p>
	<button id="submit-button" type="submit">Update</button>
</form>
{% endblock %}
