@import "colors";
@import url('https://fonts.googleapis.com/css?family=Dosis');

p {
    font-size: 1.5em;
    line-height: 1.5em;
	font-family: 'Dosis', sans-serif;
}

a {
    font-size: 1.25em;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 5px;
}

label {
    font-weight: normal;
}

.hClass (@index) when (@index > 0) {
    h@{index} {
    	font-family: 'Dosis', sans-serif;
        font-weight: bold;
    }
    .hClass(@index - 1);
}
.hClass(6);


button {
	box-shadow: inset 0 1px 0 0 @pureWhite;
	background: linear-gradient(to bottom, @pureWhite 5%, #f6f6f6 100%);
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	cursor: pointer;
	color: @darkGrey;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow:0 1px 0 @pureWhite;

    &:disabled {
        top: 0 !important;
        background: #EEE !important;
        border: 1px solid #DDD;
        text-shadow: 0 1px 1px white !important;
        color: #CCC !important;
        cursor: default !important;
    }
}

/* server message definitions */
.messages {
    background: @messageBackground;
    padding-top: 10px;
    padding-bottom: 10px;

    li {
        margin-bottom: 0;
    }

    .info {
        color: @pureWhite;
        font-size: 16px;
    }

}
/* end server message */

/* error message definitions */
.errorlist {
    padding-left: 0;
    margin-bottom: 0;

    li {
        color: @errorMessage;
        font-size: 16px;
    }

}

.error-message {
    color: @errorMessage;
    font-size: 16px;
}

.warning {
    color: @warningMessage;
    font-size: 16px;
}
/* end error message */


/* navbar definitions */
.navbar {
    background: linear-gradient(to right, @darkTeal, @aquaBlue);
    border: none;
    overflow: hidden;
}

.navbar-child {
    float: left;
    color: @offWhite;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

    &:hover {
        background-color: @accentWhite;
        color: @fadedBlack;
    }
}

.navbar-user {
    float: right;
}
/* end navbar */

/* modal definitions */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: @pureWhite;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid @stormGrey;
    width: 80%;
}

.close {
    color: @stormGrey;
    float: right;
    font-size: 28px;
    font-weight: bold;

    &:hover, &:focus {
        color: @strongBlack;
        text-decoration: none;
        cursor: pointer;
    }
}
/* end modal*/

/* slider definitions */
.slider {
    width: 25% !important;
}
/* end slider*/
