@import "colors";

ul {
    list-style-type: none;
}

li {
    margin-bottom: 5px;
}

/* server message definitions */
.messages {
    background: @messageBackground;
    padding-top: 10px;
    padding-bottom: 10px;

    li {
        margin-bottom: 0;
    }

    .info {
        color: @pureWhite;
        font-size: 16px;
    }

}
/* end server message */


/* error message definitions */
.errorlist {
    padding-left: 0;
    margin-bottom: 0;

    li {
        color: @errorMessage;
        font-size: 16px;
    }

}

.error-message {
    color: @errorMessage;
    font-size: 16px;
}

.warning {
    color: @warningMessage;
    font-size: 16px;
}
/* end error message */


/* navbar definitions */
.navbar {
    background-color: @fadedBlack;
    overflow: hidden;
}

.navbar-child {
    float: left;
    color: @offWhite;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

    &:hover {
        background-color: @accentWhite;
        color: @fadedBlack;
    }
}

.navbar-user {
    float: right;
}
/* end navbar */
