#analytics-container {
    float: right;
}

#analytics-table {
    border-collapse: collapse;
    width: 100%;
}

#analytics-table td, #analytics-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#analytics-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #11e0cb;
  color: #061110;
}

#analytics-table td {
    background-color: #e1e8e7;
}
